//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="50%")
            //-mj-text(align="right" padding="0" mj-class='T cT+1') Bachelor Chargé
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile='true' href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/
        //-mj-column(width="50%")
        //-mj-column(width="50%")
        mj-column(width="50%")
            //-mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
            mj-text(align="left" padding="0" mj-class='T cT+1') 
                ul(style="margin:0px")
                    li BTS Tourisme
                    li Bachelor chargé(e) de gestion commerciale en Tourisme
                    li Mastère Management Stratégique des entreprises du Tourisme
            //-mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
        //-mj-column(width="50%")
            mj-image(width='300px' padding='0' border="0" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/
mj-section(padding='0' background-color="#ffffff")
        mj-column(width="50%" vertical-align="middle")
            mj-text(align="right" padding="0" mj-class='T cT+1') #[strong Clément #[span(style='text-transform:uppercase') Duhamel]]
            mj-text(align="right" padding="0" mj-class='T cT+1') Responsable pédagogique
            mj-text(align="right" padding="0" mj-class='T cT+1') Ecosup Tourisme
            //-mj-image(width='300px' padding='0' border="0" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/
        mj-column(width="50%" vertical-align="middle")
            mj-image(align='left' padding="5px" src='https://i.ibb.co/wWHLFJT/Clementjpo25052024.jpg'  width='150px' alt='Clément Duhamel responsable pédagogique Ecosup Tourisme ')/
            //-mj-image(width='300px' padding='0' border="0" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
        //-mj-group(width="50%" background-color="#ffffff")
        //-mj-group(width="300px")
        //- mj-column(width="50%")
        //-     mj-image(width='300px' padding='0' border="0" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
        //- mj-column(width="50%")
        //-     mj-image(width='300px' padding='0' border="0" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/