//- section Affiche
mj-section(padding='0' mj-class="bg-0")
    mj-group(width="50%")
        mj-column(width="100%")
            mj-image(width='300px' padding='0' border="none" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/c2J7RNK/affjpo14122024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 14 décembre 2024')/
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile='true' href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/
        mj-column(width="50%")
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
            mj-image(width='300px' padding='0' border="0" fluid-on-mobile="true" href='https://ecosup-tourisme.fr' src='https://i.ibb.co/NnWBFcp/Tourisme-Jpo23112024.jpg' target="_blank" alt='Invitation aux voyages')/