//- signature
mj-section(padding-bottom='0' padding-left="20px" padding-right="20px " background-color="#ffffff")
        mj-group(width="300px")
            mj-column(width="30%" padding="4px")
                mj-image(align='right' padding="0" fluid-on-mobile="true" src='https://i.ibb.co/wWHLFJT/Clementjpo25052024.jpg'  width='150px' alt='Clément Duhamel responsable pédagogique Ecosup Tourisme ')/
            mj-column(width="70%" vertical-align="bottom" padding="4px")
                mj-text(align="left" padding="0" mj-class='T-1 cT+1') #[strong Clément #[span(style='text-transform:uppercase') Duhamel]]
                mj-text(align="left" padding="0" mj-class='T-1 cT+1') Responsable pédagogique
                mj-text(align="left" padding="0" mj-class='T-1 cT+1') Ecosup Tourisme
        mj-column(width="30%")