//- signature
mj-section(padding='0' background-color="#ffffff")
        mj-group
            mj-column(vertical-align="middle")
                mj-text(align="right" padding="0" mj-class='T cT+1') #[strong Clément #[span(style='text-transform:uppercase') Duhamel]]
                mj-text(align="right" padding="0" mj-class='T cT+1') Responsable pédagogique
                mj-text(align="right" padding="0" mj-class='T cT+1') Ecosup Tourisme
            mj-column(vertical-align="middle")
                mj-image(align='left' padding="5px" src='https://i.ibb.co/wWHLFJT/Clementjpo25052024.jpg'  width='120px' alt='Clément Duhamel responsable pédagogique Ecosup Tourisme ')/
            