-
    const logosList = [
        {
            'image':'https://i.ibb.co/fNjtWMS/Logo-Tourisme08.jpg',
            'alt':'logo couleur Mariot voyages'
        },
        {
            'image':'https://i.ibb.co/7Kt5FTX/Logo-Tourisme06.jpg',
            'alt':'logo couleur civi-ling'
        },
        {
            'image':'https://i.ibb.co/1q7Rs5C/Logo-Tourisme05.jpg',
            'alt':'logo couleur Planète Crosière'
        }
    ]

//- section Texte
mj-section(background-color='#ffffff' padding='0 25px')  
        mj-column(width="20%" padding-right="20px")
            each logo in logosList
                mj-image(padding="0" border="none" width="150px" src=logo.image alt=logo.alt)/
        mj-column(width='80%')
            mj-text(padding='0' mj-class='T cT+1') #[span(style='font-weight:700;') {{ contact.PRENOM }}], les métiers du Tourisme vous intéressent ?
            mj-text(padding='0' mj-class='T cT+1') Vous souhaitez intégrer ce secteur et développer vos compétences dans le cadre d'une #[span(style='font-weight:700;') alternance]... venez nous rejoindre 
            mj-text(align='center' mj-class='T+1 c+1') Samedi 14 décembre de 9h30 à 13h.
            mj-text(padding='0' mj-class='T cT+1') Qu'il s'agisse de vous réorienter ou de vous professionnaliser, vous trouverez auprès de nos équipes, #[span(style='font-weight:700;') toutes les réponses à vos questions].
            mj-text(padding='0' mj-class='T cT+1') Venez découvrir notre #[span(style='font-weight:700;') campus] et rencontrer nos #[span(style='font-weight:700;') intervenants] et #[span(style="font-weight:700;") professionnels reconnus].
            mj-text(padding='0'  mj-class='T cT+1') Une invitation à ne pas manquer pour devenir l'acteur de votre avenir et #[span(style='font-weight:700;') gagner en compétences] !