//- signature
mj-section(padding-bottom="0" padding-left="20px" padding-right="20px" background-color='#ffffff')
    mj-group(width="300px")
        mj-column(width='30%' padding='4px')
            mj-image(align='right' padding='0' src='https://i.ibb.co/0YtTJ7z/Sandrinejpo25052024.jpg'  width='120px' alt='Sandrine Coudron, responsable pédagogique Secrétaire médical(e)')/
        mj-column(width='70%' padding='4px' vertical-align="bottom")
            mj-text(align="left" padding='0' mj-class='T-1 cT+1') #[strong Sandrine #[span(style='text-transform:uppercase') Coudron]]
            mj-text(align="left" padding='0' mj-class='T-1 cT+1') Responsable pédagogique
            mj-text(align="left" padding='0' mj-class='T-1 cT+1') Ecosup Santé - Secrétariat médical
    mj-column(width="30%")