-
    const logosListe = [
        {
            'image': 'https://i.ibb.co/8r6dR9c/Logo-Aepe01.jpg',
            'alt': 'logo Les Chérubins, micro crèche'
        },
        {
            'image':'https://i.ibb.co/km0YCNd/Logo-Aepe02.jpg',
            'alt':'logo Nature et Petits Pas'
        },
        {
            'image':'https://i.ibb.co/nQTzGZ3/Logo-Aepe03.jpg',
            'alt':'logo le Tipi des Toupeti'
        },
        {
            'image':'https://i.ibb.co/4FcqpSj/Logo-Aepe04.jpg',
            'alt':'logo ville de Wasquehal'
        }

    ]

mj-section(background-color="#ffffff" padding="0px 28px 40px 28px") 
    mj-group(width="100%")
        each logo in logosListe
            mj-column(width="25%" padding="2px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/