//- section Signature
mj-section(padding-bottom="0" padding-left="20px" padding-right="20px" background-color='#ffffff')
    mj-group(width="300px")
        mj-column(width='30%' padding='4px')
            mj-image(align='right' padding='0' src='https://i.ibb.co/ZJBt18s/Jeromejpo25052024.jpg'  width='120px' alt='Jérome Poulain, responsable pédagogique Ecosup Santé')/
        mj-column(width='70%' padding='4px' vertical-align="bottom")
            mj-text(align="left" padding='0' mj-class='T-1 cT+1') #[strong Jérôme #[span(style='text-transform:uppercase') Poulain]]
            mj-text(align="left" padding='0' mj-class='T-1 cT+1') Responsable pédagogique
            mj-text(align="left" padding='0' mj-class='T-1 cT+1') Ecosup Santé - Petite Enfance
    mj-column(width="30%")