-
    const logosList1 = [
        {
            'image':'https://i.ibb.co/BjzPxXP/logo-Supveto10.jpg',
            'alt':'logo Clinique Vétérinaire'
        },
        {
            'image':'https://i.ibb.co/s2pZHFf/logo-Supveto09.jpg',
            'alt':'logo AniCura'
        },
        {
            'image':'https://i.ibb.co/r6kmn81/logo-Supveto08.jpg',
            'alt':'logo Biotopia"'
        },
        {
            'image':'https://i.ibb.co/mFnZNt1/logo-Supveto07.jpg',
            'alt':'logo Clinique Vétérinaire'
        },
        {
            'image':'https://i.ibb.co/jrZ9y7j/logo-Supveto06.jpg',
            'alt':'logo LPA'
        }
    ]
-
    const logosList2 = [
        {
            'image':'https://i.ibb.co/PwXYWZC/logo-Supveto05.jpg',
            'alt':'logo Clinique Vétérinaire de Linselles'
        },
        {
            'image':'https://i.ibb.co/NLgM4B7/logo-Supveto04.jpg',
            'alt':'logo Vétérinaire Pommery'
        },
        {
            'image':'https://i.ibb.co/tbhMMH6/logo-Supveto03.jpg',
            'alt':'logo Clinique Vétérinaire Porte des Weppes'
        },
        {
            'image':'https://i.ibb.co/bgqVSsD/logo-Supveto02.jpg',
            'alt':'logo Lux Vet'
        },
        {
            'image':'https://i.ibb.co/QFWSt0w/logo-Supveto01.jpg',
            'alt':'logo Hôpital Vétérinaire des Laurentides'
        }
    ]

mj-section(background-color="#ffffff" padding="0px 28px 40px 28px") 
    mj-group(width="100%")
        each logo in logosList1
            mj-column(width="20%" padding="2px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    mj-group(width="100%")
        each logo in logosList2
            mj-column(width="20%" padding="2px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/